div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

.highlight{
    background-color:yellow;
}

.underline{
    text-decoration: underline;
}

.red{
    color: red;
    font-weight: bold;
}